/* o-nama.css */

/* Hero section styles */
.hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
}

/* About content styles */
.about-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.section-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.about-text {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1rem;
}

/* Secondary navigation styles */

.secondary-nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.secondary-nav .nav-item {
    margin: 0 1rem;
}

.secondary-nav .nav-link {
    color: hsl(39, 100%, 41%);
    text-decoration: none;
    font-size: 0.7rem;
    transition: color 0.3s ease;        
}

.secondary-nav .nav-link:hover {
    color: rgb(250, 238, 53)
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .hero {
        height: 30vh;
    }

    .page-title {
        font-size: 2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .secondary-nav-list {
        flex-direction: column;
        align-items: center;
    }

    .secondary-nav .nav-item {
        margin: 0.5rem 0;
    }
}